.mensagem-historico {
    margin: 20px;
    font-size: 15px;
    color: #1F3A5F;
    font-weight: 500;
    line-height: 1.4;
    text-align: right;
}

.link-clique {
    color: #1F3A5F;
    text-decoration: underline;
    font-weight: 600;
}
/* SEÇÃO DE CODIGO CONTENDO A TELA DE ERRO*/

/* Possui quase a mesma estrutura do codigo do chatbot em css */
.erro-basico-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: "Poppins", Arial, sans-serif;
}

.erro-basico-container .erro-emoji {
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 1;
}

.erro-basico-container h2 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    max-width: 500px;
}

.erro-basico-container .btn-premium {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s;
}

.erro-basico-container .btn-premium:hover {
    opacity: 0.8;
}

.erro-basico-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: "Poppins", Arial, sans-serif;
}

.btn-visualizar{

background:#164194;

color:white;

border:none;

padding:10px 18px;

border-radius:20px;

cursor:pointer;

font-weight:600;

transition:.2s;

}

.btn-visualizar:hover{

opacity:.9;

transform:scale(1.02);

}